<div *ngIf="packLoaded">

	<form [formGroup]="form">

		<div>
			<input formControlName="packName">
		</div>

		<select (ngModelChange)="changePackTemplate($event)" formControlName="packTemplate">
			<option *ngFor="let packTemplate of inputData.packTemplates;" [ngValue]="packTemplate">
				{{packTemplate.name}} </option>
		</select>

		<select (ngModelChange)="changePackSize($event)" formControlName="packSize">
			<option *ngFor="let size of inputData.packSizes;" [ngValue]="size">
				{{size.name}} </option>
		</select>

		<div formArrayName="items" *ngFor="let items of form.controls.items?.value; let i = index;trackBy:trackFn">

			<div [formGroupName]="i" style="display: flex">

				<div>
					<input type="checkbox" (change)="changeCheckbox($event,i)" formControlName="isChecked">
				</div>

				<input placeholder="Name" formControlName="name">

				<select (ngModelChange)="changeBrand($event,i)" formControlName="brand">
					<option *ngFor="let brand of (form.controls.items?.value)[i].brandsList;" [ngValue]="brand">
						{{brand.value}} </option>
				</select>

				<select (ngModelChange)="changeVariant($event,i)" formControlName="variant">
					<option *ngFor="let variant of (form.controls.items?.value)[i].variantsList;" [ngValue]="variant">
						{{variant.value}} </option>
				</select>

				<select (ngModelChange)="changeQuantity($event,i)" formControlName="quantity">
					<option *ngFor="let quantity of (form.controls.items?.value)[i].quantityList;" [ngValue]="quantity">
						{{quantity.value}} </option>
				</select>

				<div>
					<input formControlName="pricePerItem" (change)="changePricePerItem($event,i)">
				</div>

				<div>
					<input formControlName="totalPricePerItem">
				</div>


			</div>
		</div>

	</form>

	<button (click)="savePack()">Save Pack</button>

</div>
