<div class="row">
    <div class="col-md-12">

        <h1> Customise your pack </h1>

        <form [formGroup]="form" (ngSubmit)="submit()" *ngIf="packJson">

            <fieldset>

                <legend><span class="number">1</span> Family Size</legend>

                <select class="custom-select" (change)="changePackSize($event)" formControlName="packSize">
                    <option value="" disabled>Choose your family Size</option>
                    <option *ngFor="let size of packSize" [ngValue]="size.id">{{size.name}}</option>
                 </select>    

            </fieldset>             

            <legend><span class="number">2</span> Pack Contents</legend>

            <app-customise-items-table></app-customise-items-table>

            <fieldset>

                <legend><span class="number">3</span> Pack Frequency</legend>

                <select class="custom-select" (change)="changePackFrequency($event)" formControlName="packSize">
                    <option value="" disabled>Choose your frequency</option>
                    <option *ngFor="let size of packFrequency" [ngValue]="size.id">{{size.name}}</option>
                 </select>

            </fieldset>     

            <button [routerLink]="['checkout']">Continue</button>

        </form>
    </div>
</div>