
h1 {
    font-size: 75px;
    text-align: left;
    color: white;
}


p {    
    line-height: 1.4em;
    text-align: left;
    color: white;
}

img {
    max-width: 100%;
    max-height: 100%;
}

#hero-section {
    display: grid;
    grid-template-columns: 2.5fr 2fr 5.5fr;
    grid-template-rows: minmax(110px, 1.2fr) 4.8fr 4fr;
    grid-template-areas: 
        'empty-top empty-top empty-top'
        'empty-left title-col empty-right'
        'empty-bottom empty-bottom empty-bottom';
    background-image: url("https://i.postimg.cc/CMs9XvL4/salad-2068220-1920.jpg");
    background-position: center;
    background-size: cover;
    height: 50vh;
    background-repeat: no-repeat;
}

#main-title-div {
    grid-area: title-col;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: stretch;
}
