<section class="showcase">
	<header>
	  <h2 class="logo">monthlyrepeat.com</h2>
	  <div class="toggle"></div>
	</header>
	<video
	  src="https://designsupply-web.com/samplecontent/vender/codepen/20181014.mp4"
	  muted
	  loop
	  autoplay
	></video>
<!-- Sample Video provided by DesignSupply https://codepen.io/designsupply/pen/zmEWBm -->
	<!-- Download Video Source and host the file on your own server -->
	<!-- For example: https://www.pexels.com/video/aerial-view-of-beautiful-resort-2169880/ -->
	<div class="overlay"></div>
	<div class="text">
	  <h2>Automate</h2>
	  <h3>your world</h3>
	  <p>
		Take control of your life. Sit back and relax.
	  </p>
	  <a [routerLink]="['home']" >Start</a>
	</div>
	<ul class="social">
	  <li>
		<a href="#"><img src="https://i.ibb.co/x7P24fL/facebook.png" /></a>
	  </li>
	  <li>
		<a href="#"><img src="https://i.ibb.co/Wnxq2Nq/twitter.png" /></a>
	  </li>
	  <li>
		<a href="#"><img src="https://i.ibb.co/ySwtH4B/instagram.png" /></a>
	  </li>
	</ul>
  </section>
  <div class="menu">
	<ul>
	  <li><a [routerLink]="['home']">Home</a></li>
	  <li><a [routerLink]="['profile']">Profile</a></li>
	  <li><a [routerLink]="['auth']">Join</a></li>
	  <li><a [routerLink]="['settings']">Settings</a></li>
	  <li><a [routerLink]="['blog']">Blog</a></li>
	  <li><a [routerLink]="['about']">About</a></li>
	  <li><a [routerLink]="['contact']">Contact</a></li>
	</ul>
  </div>
  