<link href="https://fonts.googleapis.com/css?family=Lato" rel="stylesheet">
<header class="top_header block block_1" id="block_1">
	<div class="dark_shell">
		<div class="row">
			<nav class="header_nav">
				<ul>
					<li class="header_menu_li"><a [routerLink]="['about']" class="header_link">About</a></li>
					<li class="header_menu_li"><a [routerLink]="['blog']" class="header_link">Blog</a></li>
				</ul>
			</nav>
			<div class="tablet_menu_btn"><i class="fa fa-bars" aria-hidden="true"></i></div>
		</div>

		<div class="row">
			<div class="header_content">
				<h1>monthlyrepeat.com</h1>
				<h2>,<br />The deep discounts company</h2>
				<button class="header_button" [routerLink]="['home']">Get Started</button>
				<button class="header_button" [routerLink]="['blog']">Know more</button>
			</div>
		</div>
	</div>
</header>
