<div class="main">
  <div class="header">
    <div class="header__left">
      <a href="">
        <h2>Newest</h2>
        <span>Collection</span>
      </a>
    </div>
    <div class="header__mid">
      <a href="">
        <h2>Spring / summer</h2>
        <span>2020</span>
      </a>
    </div>
    <div class="header__right">
      <a href="">
        <h2>Vendor</h2>
        <span>0</span>
      </a>
    </div>
  </div>

  <div class="hero">
    <div class="hero__heading">
      <span class="heading__1">Groceries</span>
      <span class="heading__2">From</span>
      <span class="heading__3">Source</span>
    </div>
    <p>
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Suscipit voluptate excepturi, reiciendis expedita
      veritatis magni porro, eius nihil exercitationem delectus beatae laboriosam est error! Inventore praesentium aut
      commodi veritatis reprehenderit?
    </p>
    <div class="hero__subhead">
      <span>Unrefined /</span>
      <span>Unopinionated</span>
    </div>
    <div class="hero__photo">
    </div>
  </div>

  <main class="sections">
    <section class="section section-1">
      <span class="section-1__number">(1)</span>
      <div class="section-1__photo"></div>
      <div class="section-1__text">
        <h3>Naturally Pure</h3>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Blanditiis vel distinctio repellendus sequi nostrum
          architecto reprehenderit commodi, aliquid provident quae, optio obcaecati officia consequuntur iure voluptatum
          id earum rerum fuga. Lorem ipsum dolor sit amet consectetur adipisicing elit. Blanditiis vel distinctio
          repellendus sequi nostrum architecto reprehenderit commodi, aliquid provident quae, optio obcaecati officia
          consequuntur iure voluptatum id earum rerum fuga.</p>
      </div>
    </section>
    <section class="section section-2">
      <span class="section-2__number">(2)</span>
      <div class="section-2__photo"></div>
      <div class="section-2__text">
        <h3>Environmentally Sound</h3>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Blanditiis vel distinctio repellendus sequi nostrum
          architecto reprehenderit commodi, aliquid provident quae, optio obcaecati officia consequuntur iure voluptatum
          id earum rerum fuga. Lorem ipsum dolor sit amet consectetur adipisicing elit. Blanditiis vel distinctio
          repellendus sequi nostrum architecto reprehenderit commodi, aliquid provident quae, optio obcaecati officia
          consequuntur iure voluptatum id earum rerum fuga.</p>
      </div>
    </section>
    <section class="section section-3">
      <span class="section-3__number">(3)</span>
      <div class="section-3__photo"></div>
      <div class="section-3__text">
        <h3>Convenient & Easy</h3>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Blanditiis vel distinctio repellendus sequi nostrum
          architecto reprehenderit commodi, aliquid provident quae, optio obcaecati officia consequuntur iure voluptatum
          id earum rerum fuga. Lorem ipsum dolor sit amet consectetur adipisicing elit. Blanditiis vel distinctio
          repellendus sequi nostrum architecto reprehenderit commodi, aliquid provident quae, optio obcaecati officia
          consequuntur iure voluptatum id earum rerum fuga.</p>
      </div>
    </section>
    <section class="section section-4">
      <span class="section-4__number">(4)</span>
      <div class="section-4__photo"></div>
      <div class="section-4__text">
        <h3>Closer to Nature</h3>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Blanditiis vel distinctio repellendus sequi nostrum
          architecto reprehenderit commodi, aliquid provident quae, optio obcaecati officia consequuntur iure voluptatum
          id earum rerum fuga. Lorem ipsum dolor sit amet consectetur adipisicing elit. Blanditiis vel distinctio
          repellendus sequi nostrum architecto reprehenderit commodi, aliquid provident quae, optio obcaecati officia
          consequuntur iure voluptatum id earum rerum fuga.</p>
      </div>
    </section>
  </main>
  <footer>
    <a (click)="goToCustomisePack()">Shop now</a>
  </footer>
</div>

<div (click)="goToCustomisePack()" class="arrow-down">
  <img src="https://assets.codepen.io/3463117/ei_arrow-down.svg" />
</div>
