<div class="container">
  <div class="row">
    <div class="col-xs-12 product-detail-container">
      <div class="product-top-box">
        <div class="row">
          <div class="col-md-7">
            <div class="product-image">
            </div>
          </div>
          <div class="col-md-5">
            <div class="product-intro-top">
              <div class="product-name">
                Cheetah Mug
              </div>

              <div class="product-creator">
                by <em>Jens Meurer</em>
              </div>

              <div class="product-description-text">
                This is a short product description for the Cheetah Mug. It looks really nice.
              </div>
              
              <div class="row">
                <div class="col-xs-4">
                  <div class="progress-circle">
                    <div class="number">20%</div>
                    complete
                  </div>
                </div>
                <div class="col-xs-4">
                  <div class="progress-circle">
                    <div class="number">9</div>
                    days left
                  </div>
                </div>

                <div class="col-xs-4">
                  <div class="progress-circle">
                    <div class="number">6/30</div>
                    orders confirmed
                  </div>
                </div>
              </div>
            </div>
            <div class="product-intro-bottom">
              <div class="row">
                <div class="col-sm-6">
                  <span class="price-current">
                    $20
                  </span>
                  <span class="price-original">
                    $25
                  </span>
                </div>
                <div class="col-sm-6 text-center">
                  <button class="btn order-now">
                    <i class="fa fa-shopping-cart" aria-hidden="true"></i>&nbsp;
                    Order Now!
                  </button>
                </div>
                <div class="row">
                  <div class="col-xs-12 text-center">
                    <div class="tip">
                      You will not be charged unless the product campaign completes.
                    </div>
                  </div>
                </div>
                
 
              </div>
            </div>
            <div class="bonus-text">
              <div class="row">
                <div class="col-xs-12 text-center">
                  <i class="fa fa-star" aria-hidden="true"></i>
                  20% off for first 30 buyers!
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

</div>
