<div id="cuadricula">
  <div class="item" [routerLink]="['/store']" style="--color:#3E989B;">
    <p>Store</p>
  </div>
  <div class="item" [routerLink]="['/services']" style="--color:#6DB465;">
    <p>Services</p>
  </div>
  <div class="item" [routerLink]="['/finances']" style="--color:#F2C14E;">
    <p>Finances</p>
  </div>
  <div class="item" [routerLink]="['/investments']" style="--color:#3E989B;">
    <p>Investments</p>
  </div>
  <div class="item" [routerLink]="['/crowdfunding']" style="--color:#6DB465;">
    <p>Crowdfunding</p>
  </div>
  <div class="item" [routerLink]="['/membership']" style="--color:#F2C14E;">
    <p>Membership</p>
  </div>
</div>