<div id="cuadricula">
  <div class="item" [routerLink]="['/home/categories/store']" style="--color:#3E989B;">
    <p>Store</p>
  </div>
  <div class="item" [routerLink]="['/home/categories/services']" style="--color:#6DB465;">
    <p>Services</p>
  </div>
  <div class="item" [routerLink]="['/home/categories/finances']" style="--color:#F2C14E;">
    <p>Finances</p>
  </div>
  <div class="item" [routerLink]="['/home/categories/investments']" style="--color:#3E989B;">
    <p>Investments</p>
  </div>
  <div class="item" [routerLink]="['/home/categories/crowdfunding']" style="--color:#6DB465;">
    <p>Crowdfunding</p>
  </div>
  <div class="item" [routerLink]="['/dashboard']" style="--color:#F2C14E;">
    <p>My Dashboard</p>
  </div>
</div>