<ul class="grid">
  <li class="grid_item span__1 a"><a [routerLink]="['/store']" class="grid_link"><div class="tile">Store</div></a></li>
    <li class="grid_item span__2 b"><a [routerLink]="['/services']" class="grid_link"><div class="tile">Services</div></a></li>
    <li class="grid_item span__1 c"><a [routerLink]="['/finances']" class="grid_link"><div class="tile">Finances</div></a></li>
    <li class="grid_item span__2 d"><a [routerLink]="['/investments']" class="grid_link"><div class="tile">Investments</div></a></li>
    <li class="grid_item span__1 e"><a [routerLink]="['/crowdfunding']" class="grid_link"><div class="tile">Crowdfunding</div></a></li>
    <li class="grid_item span__1 f"><a [routerLink]="['/membership']" class="grid_link"><div class="tile">Membership</div></a></li>
    <li class="grid_item span__4 g"><a [routerLink]="['/dashboard']" class="grid_link"><div class="tile">Dashboard</div></a></li>
</ul>
