<app-top-nav></app-top-nav>
<div class="container-fluid">
  <div class="row">
      <div class="col-sm-auto bg-light sticky-top">
          <div class="d-flex flex-sm-column flex-row flex-nowrap bg-light align-items-center sticky-top">
              <ul class="nav nav-pills nav-flush flex-sm-column flex-row flex-nowrap mb-auto mx-auto text-center align-items-center">
                  <li class="nav-item">
                      <a [routerLink]="['/home']" class="nav-link py-3 px-2" title="" data-bs-toggle="tooltip" data-bs-placement="right" data-bs-original-title="Home">
                          <i class="bi-house fs-1"></i>
                      </a>
                  </li>
                  <li>
                      <a [routerLink]="['/categories/services']" class="nav-link py-3 px-2" title="" data-bs-toggle="tooltip" data-bs-placement="right" data-bs-original-title="Dashboard">
                          <i class="bi-speedometer2 fs-1"></i>
                      </a>
                  </li>
                  <li>
                      <a [routerLink]="['/categories/investments']" class="nav-link py-3 px-2" title="" data-bs-toggle="tooltip" data-bs-placement="right" data-bs-original-title="Orders">
                          <i class="bi-table fs-1"></i>
                      </a>
                  </li>
                  <li>
                      <a [routerLink]="['/categories/finances']" class="nav-link py-3 px-2" title="" data-bs-toggle="tooltip" data-bs-placement="right" data-bs-original-title="Products">
                          <i class="bi-heart fs-1"></i>
                      </a>
                  </li>
                  <li>
                      <a [routerLink]="['/dashboard']" class="nav-link py-3 px-2" title="" data-bs-toggle="tooltip" data-bs-placement="right" data-bs-original-title="Customers">
                          <i class="bi-people fs-1"></i>
                      </a>
                  </li>
              </ul>
          </div>
      </div>
      <div class="col-sm p-3 min-vh-100">
          <router-outlet></router-outlet>
      </div>
  </div>
</div>
