<h1>Showing {{packType}}</h1>

<div class="d-flex w-100" *appSpinner="mainSpinner">
    <div *ngFor="let pack of packsList" class="card">
        <div class="product neumorphic ridge">
            <div class="product-image"><img
                    src="https://images.unsplash.com/photo-1485955900006-10f4d324d411?ixlib=rb-1.2.1&amp;ixid=eyJhcHBfaWQiOjEyMDd9&amp;auto=format&amp;fit=crop&amp;w=1352&amp;q=80"
                    alt="Plant 1" /></div>
            <div class="cart">
                <div class="price float-left">₱50</div>
                <button class="btn right bg-green float-right text-white neumorphic outset" (click)="goToPack(pack)" type="submit"
                    name="explore-pack" title="Explore Pack">
                </button>
            </div>
        </div>
    </div>
</div>