<div class="container-fluid">

    <h1>Showing {{packType}} Packs</h1>

    <div class="row">
        <div *ngFor="let pack of packsList" class="col-md-3 col-sm-6">
            <div class="product-grid">
                <div class="product-image">
                    <a href="#">
                        <img class="pic-1" src="https://i.postimg.cc/pdvcSwBL/1.jpg">
                    </a>
                    <span class="product-discount-label">-20%</span>
                </div>
                <div class="product-content">
                    <h3 class="title">
                        <a href="#">Men's Blazer</a>
                    </h3>
                    <div class="price">$16.00
                        <span>$20.00</span>
                    </div>
                </div>
                <ul class="social">
                    <li><a data-tip="Quick View" (click)="viewPackSummary(pack)"><i class="fa fa-eye"></i></a></li>
                    <li><a data-tip="Wishlist"><i class="fa fa-heart"></i></a></li>
                    <li><a data-tip="add to cart" (click)="goToCustomisePack(pack)"><i class="fa fa-shopping-cart"></i></a></li>
                    <li><a data-tip="Explore" (click)="goToPack(pack)"><i class="fa fa-random"></i></a></li>
                </ul>
            </div>
        </div>
    </div>
</div>

<br>
