<div class="wrapper">
    <div class="container-fluid">
        <h1>Showing {{packType}}</h1>
        <div class="row g-1">
            <div class="col-md-3">
                <div *ngFor="let pack of packsList" class="card p-3">
                    <div class="text-center"> <img [src]="pack.imgSrc" width="200"> </div>
                    <div class="product-details"> <span class="font-weight-bold d-block">{{pack.packCost}}</span> <span>{{pack.packName}}</span>
                        <div class="buttons d-flex flex-row">
                            <button class="btn btn-success cart-button btn-block" [routerLink]="['/pack-detail']"><span class="dot">1</span>Buy </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
